.board{
    width: 500px; 
    height: 500px; 
    border: 1px solid black; 
}
.main-page{
    display: flex; 
}
.utilities{
    display: flex; 
    justify-content: space-between;
}
.right-side{
    margin-left: 100px; 
    margin-top: 110px; 
    width: 400px; 
    border: red 1px solid; 
    word-wrap: normal;
}

.game-rules{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board-piece{
    max-width: 10px; 
    max-height: 10px; 
    min-width: 10px;
    min-height: 10px;
    border: 1px solid red; 
}

img{
    height: 56px; 
    width: 70px; 
    position: relative;
    left: 50px;
    top: 50px;
    
}

.teleportation_meter{
  
    height: 10px;
    background-color:lightblue;
}